BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
KeepEmptyLinesAtTheStartOfBlocks: false
